[submodule "network-traffic-analyzer"]
	path = network-traffic-analyzer
	url = https://github.com/jasonachkar/network-traffic-analyzer
[submodule "security-assessment-orchestrator"]
	path = security-assessment-orchestrator
	url = https://github.com/jasonachkar/security-assessment-orchestrator
[submodule "security-platform-ui"]
	path = security-platform-ui
	url = https://github.com/jasonachkar/security-platform-ui.git
[submodule "vulnerability-scanner"]
	path = vulnerability-scanner
	url = https://github.com/jasonachkar/vulnerability-scanner
